@import "../../../assets/scss/mediaqueries";

#company {
  width: 80em;
  margin: 4em 5em auto auto;

  .corners {
    min-height: 37em;
    max-height: max-content;
  }

  .spinner {
    top: calc( 50% - 2em );
    left: calc( 50% - 2em );

    &.upon-incomes { left: 80%; }
  }
}

@include breakpoints( "medium" ) {
  #company {
    font-size: 14px;
    width: calc( 100% - 4em );
    margin: 2em;
  }
}

@include breakpoints( "small" ) {
  #company {
    width: calc( 100% - 2em );
    margin: 1em;

    .corners {
      min-height: unset;
      max-height: unset;
      height: calc( 100vh - 5em );
    }

    &-list {
      overflow: scroll;
      height: calc( 100% - 4em );
    }

    .spinner.upon-incomes {
      left: calc( 50% + 2em );
    }
  }
}
