.block {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.9em;
  height: 1.9em;
  cursor: pointer;

  .arrow {
    display: block;
    padding: 0;
    width: 1em;
    height: 1em;
    font-size: 10px;
    border-right: .3em solid black;
    border-bottom: .3em solid black;

    &-down {
      transform: rotateZ( 45deg );
    }

    &-up {
      transform: rotateZ( -135deg );
    }

    &-left {
      transform: rotateZ( 135deg );
    }

    &-right {
      transform: rotateZ( -45deg );
    }
  }
}
