@import "../../../assets/scss/mediaqueries";

.grid {
  display: grid;
  grid-template-columns: 10% 25% 25% 13.3% 13.3% 13.3%;
}

@include breakpoints( "small" ) {
  .grid {
    grid-template-columns: 20% 20% 20% 20% 20%;

    .header-cell:first-of-type, .id { display: none; }
  }
}
