.header-cell {
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4em;
  text-align: center;
  margin: 0;

  .cell {
    width: min-content;
    padding-right: .7em;
  }

  .disabled {
    color: #606060;
    cursor: not-allowed;

    & + .block, & + .block .arrow {
      cursor: not-allowed;
    }

    & + .block .arrow {
      border-right: .3em solid #606060;
      border-bottom: .3em solid #606060;
    }
  }
}
