@import "../../../assets/scss/mediaqueries";

.input {
  width: 14em;
  padding: 1em;
  margin: 1em auto;

  &.disabled, input:disabled, &.disabled label {
    color: #606060;
    cursor: not-allowed;
  }

  label, input { transition: all ease-in-out .2s; }

  label {
    position: absolute;
    left: 2em;
    top: .5em;

    &.focused { top: -.5em; }
  }

  input {
    font-size: inherit;
    width: 14em;
    background: none;
    border: none transparent;
    border-bottom: .1em solid #606060;
    color: black;

    &:focus { border-bottom-color: black; }
  }
}

@include breakpoints( "medium" ) {
  .input input {
    width: 12em;
    margin-left: .5em;
  }
}
